<h1>The Post</h1>

<%=@post.body %>
<%=@post.created_at %>


<%= link_to "Edit this post", edit_user_post_path(@post.user, @post) %>


<%= link_to "Delete this post", edit_user_post_path(@post.user, @post) %>